<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{! roboto & roboto slab google fonts }}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    {{! font awesome icons }}
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    {{! tailwind build }}
    <link rel="stylesheet" href="/style.css" />
    <title>
      Tech Blog
    </title>
  </head>
  <body class="bg-rose-300 flex flex-col min-h-full">
    <header class="bg-stone-700 py-3 px-6 z-50">
      <nav class="container mx-auto flex justify-between align-middle">
        <a href="/" class="text-3xl nav-item">
          Tech Blog
        </a>
        <div id="nav-menu" class="nav-menu">
          <a href="/posts" class="nav-item">Posts</a>
          {{#if loggedIn}}
            <a href="/dashboard" class="nav-item">Dashboard</a>
            <a href="/logout" id="logout" class="nav-item">Logout</a>
          {{else}}
            <a href="/login" class="nav-item">Login</a>
          {{/if}}
        </div>
        <div class="nav-icon text-2xl z-50 md:hidden" id="overlay-toggle">
          <i class="fas fa-bars"></i>
        </div>
      </nav>
    </header>

    <main class="container mx-auto mt-6 mb-auto">
      {{{body}}}
    </main>

    <footer class="bg-stone-600 py-3 px-6">
      <div class="container mx-auto flex justify-between">
        <a
          href="https://github.com/michael-rodriguez22/MVC-CHALLENGE-tech-blog"
          target="_blank"
          rel="noreferrer"
          class="nav-icon"
        >
          <i class="fab fa-github text-lg"></i>
          <span class="ml-2 text-md">repository</span>
        </a>
        <div class="nav-icon text-2xl" title="scroll to top" id="scroll-icon">
          <i class="fa fa-angle-up"></i>
        </div>
        <a href="/contact" class="nav-item">
          <span class="mr-2 text-md">contact</span>
          <i class="far fa-envelope text-lg"></i>
        </a>
      </div>
    </footer>
    <script src="/js/nav.js"></script>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>